
.main_content_class .more-book_name {
	width: 135px;
	line-height: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
	text-align: center;
	position: absolute;
	bottom: 0px;
}
.content_list {
	margin-top: 20px;
}

 .list_a {
	display: table;
	width: 100%;
	margin-bottom: 30px;
}

 .classify_label {
	display: table-cell;
	width: 70px;
}

 .classify_name {
	display: table-cell;
	font-size: 0px;
	position: absolute;
}

.classify_name span {
	display: inline-block;
	color: #FAAE30;
	height: 25px;
	width: 66px;
	margin: 0px 4px;
	border: 1px solid #99a2aa;
	border-radius: 8px;
	text-align: center;
}


.classify_name span.all_class{
	border: 1px solid #F39800;
}
.classify_label .class_title {
	font-size: 18px;
    font-weight: 700;
	position: relative;
	top: 4px;
}

.classify_name span a {
	display: inline-block;
	color: #99a2aa;
	width: 100%;
	border-radius: 6px;
	font-size: 17px;
	line-height: 27px;
}
/*.classify_name span:hover {
	background-color: #fff;
	border-color: #F39800;
}
.classify_name span:hover a{
	color:  #F39800;
}*/

.classify_name .unselected{
	border-color:#F39800
}
.classify_name .unselected a{
	color: #F39800;
}
.classify_name .selected {
	background-color: #F39800;
	color: #ffffff;
	border: 1px solid #F39800;
}
.classify_name .selected a{
	color: #FFFFFF;
}

.main_content_class .list_live li {
	float: left;
	width: 135px;
	margin: 0 17px 10px 0;
	height: 205px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	border-radius: 12px;
}

.main_content_class .list_live li:nth-child(8n) {
	margin-right: 0;
}

.body_select {
	position: relative;
	text-align: center;
	clear: both;
	margin-top: 20px;
	bottom: 20px;
}



.body_select a {
	display: inline-block;
	width: 100%;
	height: 28px;
	color: #F39800;
}

.body_select span:hover {
	background-color: #F39800;
	color: #FFFFFF;
	border-radius: 3px;
	border: 1px solid #F39800;
}

.selected {
	background-color: #F39800;
	color: #FFFFFF !important;
	border-radius: 3px;
}

.body_select .page_seected {
	background-color: #F39800;
	color: #FFFFFF;
}

.body_select .select_p_btn {
	display: inline-block;
	width: 68px;
	height: 28px;
	text-align: center;
	border: 1px solid #F39800;
	border-radius: 5px;
	color: #F39800;
}


/*.b_body ul li:hover .hotinfo_list {
	display: block;
	background: rgba(0, 0, 0, 0.5);
}*/

.book_pic_wrap {
	overflow: hidden;
}

.book_pic_wrap,
.book_pic_wrap img {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 135px;
	height: 175px;
	border-radius: 12px;
}

.pages {
	margin: 20px 0 50px;
}


/*毛玻璃效果*/

.main_content_class .cls_blur {
	filter: url(blur.svg#blur);
	background: rgb(0, 0, 0, 0.5);
	/*FireFox, Chrome, Opera*/
	-webkit-filter: blur(10px);
	/* Chrome, Opera */
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
	/*filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);*/
	/* IE6~IE9 */
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	
	/*transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
	transition: opacity .2s ease;*/
}

.main_content_class ul li:hover .first_pic {
	display: none;
}

.main_content_class ul li:hover .cls_blur {
	opacity: 1;
	transition:opacity 1.2s ease;
	-moz-transition:opacity 1.2s ease; /* Firefox 4 */
	-webkit-transition:opacity 1.2s ease; /* Safari and Chrome */
	-o-transition:opacity 1.2s ease; /* Opera */
	
	
}

.main_content_class ul li:hover .more-book_name {
	color: #F39800;
}

.main_content_class .classInfo_list {
	background-color: #000;
    background-color: rgba(0,0,0,.1);
   
	/*background: rgba(0, 0, 0, .1);*/
	width: 135px;
	height: 175px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	top: 0px;
	font-size: 12px;
	line-height: 28px;
	color: #fff;
	border-radius: 10px;
	display: none;
	z-index: 10001;
}

.main_content_class .classInfo_list p {}

.classInfo_list .class_p1,
.classInfo_list .class_p2,
.classInfo_list .class_p3,
.classInfo_list .class_p4,
.classInfo_list .class_p5 {
	position: absolute;
	left: 10px;
	top: -10px;
}

.class_book_writer {
	width: 1px;
	height: 1px;
	border-radius: 50%;
	position: relative;
	top: 10px;
	left: 10px;
}

.classinfo_writer_name {
	position: relative;
	overflow: hidden;
	width: 90px;
	display: inline-block;
	text-overflow: ellipsis;
	top: 10px;
	left: 10px;
}
.icon-font{
	color: #f8c673;
    position: absolute;
    font-size: 30px;
}

.left_top {
	left: -10px;
	top: -20px;
}

 .left_bottom {
	left: -10px;
	bottom: -20px;
}

 .right_bottom {
	right: -10px;
	bottom: -20px;
}

.right_top {
	right: -10px;
	top: -20px;
}