<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>重置密码</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../css/footer.css" />
		<link rel="stylesheet" href="../../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../../css/LoginRegister/forgetPassword.css" />
	</head>

	<body  ng-app="forgetPword">
		<div  ng-controller="forgetPwordCtrl">
			<div  ng-include="'../navbar.html'" ></div>
			<div class="modify" class="wrap_1200">
				<!--四角背景-->
				<div class="radius_bg">
					<i class="iconfont left_top">&#xe610;</i>
					<i class="iconfont right_top">&#xe60e;</i>
					<i class="iconfont left_bottom">&#xe611;</i>
					<i class="iconfont right_bottom">&#xe60f;</i>
				</div>
				<!--注册标题-->
				<div class="modify_bg">
					<div class="modify_title">忘记密码</div>
				</div>
				<div class="modify_info">
					<form action="" method="post" name="myForm" novalidate ng-cloak>
						<ul>
							<li >
								<input type="text" ng-focus="phone_format=false;phone_register=false;phone_null=false" id="phone" ng-blur="verifyPhone()" class="text nor_text" ng-model="forget_mobile" name="login_mobile" placeholder="请输入手机号码/邮箱" required />
								<p class="modify_prompt" ng-show="phone_null">请输入手机号码或邮箱~</p>
								<p class="modify_prompt" ng-show="phone_err_format">请输入正确的手机号码或邮箱~</p>
								<p class="modify_prompt" ng-show="phone_register">手机号码或邮箱不存在~</p>
							</li>
							<li>
								<input type="password" ng-model="modify_password" name="modify_password" class="text nor_text" ng-maxlength="12" placeholder="请输入新密码" ng-blur="verifyPassword()" ng-focus="password_null=false;password_err=false" />
								<!--<p class="modify_prompt">密码（6~12个字符组成，区分大小写）</p>-->
								<p class="modify_prompt" ng-show="password_null">请输入新密码哦~（6~12个字符组成，区分大小写）</p>
								<p class="modify_prompt" ng-show="password_err">新密码格式不对哦~（6~12个字符组成，区分大小写）</p>
								
							</li>
							<li><input type="password" class="text nor_text" ng-model="passwordagain" name="passwordagain"  ng-blur="verifyPassWordAgain()" ng-focus="password_second_err=false;password_second_null=false" placeholder="请再次输入新密码" required/>
								<p class="modify_prompt" ng-show="password_second_err">两次密码输入不一样哦~</p>
								<p class="modify_prompt" ng-show="password_second_null">必须再次填写新密码哦~</p>
							</li>
							<li ng-show="sendCodefigure">
								<input  ng-init="phone_code=false;phone_code_null=false" ng-focus="phone_code=false;phone_code_null=false" class="nor_text ver_code" ng-model="login_code" id="vcode" value="" placeholder="请输入右侧验证码" />
								<a href=""><canvas id="canvas" ng-click="sendCodeFigureSet()"  style="width:120px;height: 49px;position: absolute;margin-left: 35px;border-radius: 10px;"></canvas></a>
								<p class="modify_prompt"  ng-show="phone_code">验证码错误</p>
								<p class="modify_prompt"  ng-show="phone_code_null">验证码错误</p>
							</li>
							<li>
								<input type="text" class="nor_text ver_code" class="nor_text" ng-focus="code_err=false" id="" value="" placeholder="手机/邮箱 验证码" ng-model="passwordCode" required/>
								<a class="nor_text get_ver_code" id="" ng-bind="description" ng-click="inputCodeSure()" ng-style="wait_time"></a>
								<p class="modify_prompt" ng-show="code_err">验证码不正确~</p>

							</li>

							<li ng-click="modifiedPassWord()">
								<input type="submit" class="nor_text modify_btn" id=""  name="" value=" 修改" />
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
		<div id="marginId" ></div>
		<div ng-controller="footerControll" ng-include="'../footer.html'" onload="footerShow()"></div>
	</body>
	<script src="../../js/lib/angular.min.js"></script>
	<script type="text/javascript" src="../../js/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="../../js/common.js" ></script>
	<script src="//at.alicdn.com/t/font_ar0exrur5cr0y66r.js"></script>
	<script src="../../js/lib/md5.js"></script>
	<script src="../../js/LoginRegister/forgetPassword.js"></script>
	<script type="text/javascript" src="../../js/lib/verificationCode.js" ></script>
	<script src="../../js/foot.js"></script>
	<script>
	if($(document).height()>1000){
		$("#marginId").height($(document).height()-1000)　
	}
		
		
	</script>
</html>