a {
	text-decoration: none;
	color: #000000;
}

li {
	list-style: none;
}

.main_content {
	width: 1200px;
	margin-left: 50%;
	left: -600px;
	position: relative;
}

.main_content .content_list_side {
	width: 180px;
	float: left;
	position: fixed;
	/*left:0px;*/
	top: 70px;
}

.main_content .content_list_side .content_side_top {
	height: 60px;
	border-radius: 12px;
	text-align: center;
	background-color: #FFFFFF;
	box-shadow: 0 0 9px rgb(188, 188, 187);
}

.main_content .content_list_side .content_side_top a {
	display: inline-block;
	width: 85%;
	height: 44px;
	line-height: 47px;
	border: 4px dashed #D7D5D5;
	border-radius: 10px;
	margin-top: 5px;
	font-size: 25px;
	font-family: "方正大黑简体";
}

.main_content .content_list_side .content_side_bottom {
	height: 300px;
	border-radius: 12px;
	margin-top: 20px;
	background-color: #FFFFFF;
	box-shadow: 0 0 9px rgb(188, 188, 187);
}

.main_content .content_list_side .content_side_bottom ul {
	padding-left: 40px;
}

.main_content .content_list_side .content_side_bottom li {
	width: 100px;
	height: 52px;
	line-height: 52px;
	color: #BCB8B8;
}

.main_content .content_list_side .content_side_bottom .border_b {
	border-top: 4px dashed #D7D5D5;
	border-bottom: 4px dashed #D7D5D5;
}

.main_content .content_list_side .content_side_bottom .disc_size {
	color: #BCB8B8;
	font-size: 12px;
	margin-right: 5px;
}

.main_content .content_list_side .content_side_bottom li a {
	display: inline-block;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	width: 120px;
}

.main_content .content_list_side .content_side_bottom li a:hover {
	border: 3px solid #F39800;
	border-radius: 14px;
	margin-left: -20px;
	padding-left: 16px;
}

.main_content .content_list_side .content_side_bottom .selected_page {
	border: 3px solid #F39800;
	border-radius: 14px;
	margin-left: -20px;
	padding-left: 16px;
}

.main_content .content_list {
	margin-left: 200px;
	margin-top: 70px;
}

.main_content .comments_list_detail {
	height: 170px;
	border: 1px solid #E8EAEB;
	position: relative;
	margin-bottom: 15px;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0 0 9px rgb(188, 188, 187);
}

.main_content .comments_list_detail .comments_list_left {
	display: inline-block;
	width: 120px;
	height: 170px;
	position: absolute;
	left: 0;
	text-align: center;
}

.main_content .comments_list_detail .comments_list_left .user_head_box {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	margin-top: 20px;
}

.main_content .comments_list_detail .comments_list_left img {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 80px;
}

.main_content .comments_list_detail .comments_list_center {
	display: inline-block;
	width: 800px;
	height: 170px;
	margin-left: 130px;
}

.main_content .comments_list_detail .comments_list_center .comments_detail_t {
	margin-top: 20px;
	padding-top: 5px;
	height: 90px;
	border-top: 1px solid #E8EAEB;
	position: relative;
}

.main_content .comments_list_detail .comments_list_center .comments_detail_t .replying_username {
	margin-right: 20px;
	font-weight: bolder;
}

.main_content .comments_list_detail .comments_list_center .color_orange {
	color: #F39800;
}

.main_content .comments_list_detail .t_color {
	color: #9D9FA2;
}

.main_content .comments_list_center .comments_detail_bottom {
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	background-color: #E8EAEB;
	color: #9B9DA0;
	padding: 0 10px;
}

.main_content .comments_list_detail #read_comment_btn {
	display: inline-block;
	height: 24px;
	font-size: 16px;
	border: 1px solid #F0BF6C;
	color: #F0BF6C;
	background-color: #FFFFFF;
	border-radius: 6px;
}

.main_content .body_select {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 200px;
}

.main_content .body_select span {
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #F0BF6C;
	border-radius: 5px;
	color: #F0BF6C;
	background-color: #FFFFFF;
}

.main_content .body_select a {
	display: inline-block;
	width: 100%;
	height: 28px;
	color: #F0BF6C;
}

.main_content .body_select a:hover {
	background-color: #F0BF6C;
	color: #FFFFFF;
}

.main_content .body_select .page_seected {
	background-color: #F0BF6C;
	color: #FFFFFF;
}

.main_content .body_select .select_p_btn {
	display: inline-block;
	width: 68px;
	height: 28px;
	text-align: center;
	border: 1px solid #F0BF6C;
	border-radius: 5px;
	color: #F0BF6C;
}