body {
	background: #F3F3F3;
}

.login {
	margin: 100px auto;
	width: 1200px;
	height: 460px;
	/*设计图给的top太高*/
	background: #fff;
	border-radius: 10px;
	position: relative;
	padding-top: 36px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
	
}
canvas{
	position: relative;
    top: -6px;
    left: 20px;
	vertical-align: bottom;
	border:1px solid #c3c3c3;
}
/*背景*/

.left_top,
.left_bottom,
.right_bottom,
.right_top {
	color: #f8c673;
	font-size: 40px;
	position: absolute;
}

.left_top {
	left: 10px;
	top: 10px;
}

.left_bottom {
	left: 10px;
	bottom: 10px;
}

.right_bottom {
	right: 10px;
	bottom: 10px;
}

.right_top {
	right: 10px;
	top: 10px;
}

.login_bg {
	width: 1076px;
	height: 20px;
	border-top: 2px solid #cac9c9;
	margin: 0 auto;
	
}

.login_title {
	width: 148px;
	height: 40px;
	background: #fff;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	font-size: 38px;
	margin-left: -74px;
	position: absolute;
	left: 50%;
	top: 16px;
}
.login_info {
	margin-left: 42px;
}
.login_info ul {
	width: 478px;
	position: relative;
	margin-top: 10px;
}

.login_info ul li {
	margin-bottom: 8px;
	width: 478px;
}

.login_info ul li .nor_text {
	height: 48px;
	border-radius: 10px;
	font-size: 20px;
}

.login_info ul li .text {
	width: 466px;
	padding-left: 10px;
	color: #666;
	border: 1px solid #c0c0c0;
}

.ver_code {
	padding-left: 10px;
	width: :;;
	color: #666;
	border: 1px solid #c0c0c0;
}

.get_ver_code {
	font-size: 16px;
	color: #fff;
	background: #F39800;
	border: 1px solid #F39800;
	position: absolute;
	right: 0;
	cursor: pointer;
	padding: 0 10px;
}

.login_btn {
	width: 225px;
	background: #F39800;
	text-align: center;
	color: #fff;
	cursor: pointer;
	margin: 10px 13px 0 0;
	display: inline-block;
	line-height: 48px;
}
.regis_btn{
	display: inline-block;
	width: 225px;
	background: #fff;
	text-align: center;
	color: #000000;
	border: 1px solid #eee;
	cursor: pointer;
	margin-top: 10px;
	line-height: 48px;
	
}
.forget_password_btn{
	color: #F39800;
	font-size: 12px;
	float: right;
}
.login_prompt{
	color: #F39800;
	font-size: 12px;
	line-height: 16px;
	padding-left: 11px;
}
.agree_login{
	font-size: 12px;
	padding-left: 11px;
}
.agree_login span{
	color: #F39800;
}
/*设置[[placeholder样式]]*/

::-webkit-input-placeholder {
	color: #e0e0e0;
	font-weight: 200;
}
.login_wrap{
	margin-top: 30px;
}
.login_welcome{
	
	width: 599px;
	height: 350px;
	border-right: 2px solid #cac9c9;
	background: url(../../img/association/asso_head.png) no-repeat center;
	background-size: 350px;
}
