body {
	background: #F3F3F3;
}

.register {
	width: 1200px;
	height: 560px;
	/*设计图给的top太高*/
	margin-top: 100px;
	background: #fff;
	border-radius: 10px;
	position: relative;
	padding-top: 36px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
}
canvas{
	border:1px solid #c3c3c3;
}

/*背景*/

.left_top,
.left_bottom,
.right_bottom,
.right_top {
	color: #f8c673;
	position: absolute;
	font-size: 40px;
}

.left_top {
	left: 10px;
	top: 10px;
}

.left_bottom {
	left: 10px;
	bottom: 10px;
}

.right_bottom {
	right: 10px;
	bottom: 10px;
}

.right_top {
	right: 10px;
	top: 10px;
}

.regis_bg {
	width: 1076px;
	height: 20px;
	border-top: 2px solid #cac9c9;
	margin: 0 auto;
}

.regis_title {
	width: 170px;
	height: 40px;
	background: #fff;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	font-size: 38px;
	margin-left: -74px;
	position: absolute;
	left: 50%;
	top: 16px;
}

.regis_info ul {
	width: 478px;
	margin: 40px auto 0;
	position: relative;
}

.regis_info ul li {
	margin-bottom: 8px;
	width: 478px;
}
.register_code{
	
}
.regis_info ul li .nor_text {
	height: 48px;
	border-radius: 10px;
	font-size: 20px;
}

.regis_info ul li .text {
	width: 466px;
	padding-left: 10px;
	color: #666;
	border: 1px solid #c0c0c0;
}

.ver_code {
	padding-left: 10px;
	width: 310px;
	color: #666;
	border: 1px solid #c0c0c0;
}

.get_ver_code {
	font-size: 16px;
	color: #fff;
	background: #F39800;
	border: 1px solid #F39800;
	position: absolute;
	right: 0;
	cursor: pointer;
	padding: 0 10px;
	line-height: 48px;
}

.regis_btn {
	width: 230px;
	background: #F39800;
	text-align: center;
	color: #fff;
	cursor: pointer;
	position: absolute;
	left: 50%;
	margin-left: -115px;
	margin-top: 10px;
	line-height: 48px;
	font-family: "微软雅黑";
	font-weight: normal;
}

.regis_prompt{
	color: #F39800;
	font-size: 12px;
	line-height: 16px;
	padding-left: 11px;
}
.agree_regis{
	font-size: 12px;
	padding-left: 11px;
}
.agree_regis span{
	color: #F39800;
}
/*设置[[placeholder样式]]*/

::-webkit-input-placeholder {
	color: #e0e0e0;
	font-weight: 200;
}


.register_body{
	margin-bottom: 100px;
}
/* 手机注册切换*/
.phone_register {
	position: relative;
	height: 20px;
}
.phone_register p{
	position: relative;
	left: 420px;
	cursor: pointer;
	font-size: 10px;
	color: #f39900;
}
.to_login{
	cursor: pointer;
	float: right;
	/*color: #0066CC;*/
	font-size: 12px;
}
